@charset "UTF-8";
/*

This mixin defines a media query-breakpoint.

usage: 

@include bp(mobile)
{
	// my styles that should only be applied on mobile-sizes
	width: $width-mobile;
}
*/
/*

This mixins define common sizes, i.e. widths, margins, ...

These sizes can be responsive, see the implementation below

usage: 

@include full-width;


*/
/*

This mixin defines a media query-breakpoint.

usage: 

@include bp(mobile)
{
	// my styles that should only be applied on mobile-sizes
	width: $width-mobile;
}
*/
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
/* line 4, ../build/styles/includes/_thickbox.scss */
* {
  padding: 0;
  margin: 0;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
/* line 9, ../build/styles/includes/_thickbox.scss */
#TB_window {
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333;
}

/* line 14, ../build/styles/includes/_thickbox.scss */
#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color: #666666;
}

/* line 19, ../build/styles/includes/_thickbox.scss */
#TB_window a:link {
  color: #666666;
}

/* line 20, ../build/styles/includes/_thickbox.scss */
#TB_window a:visited {
  color: #666666;
}

/* line 21, ../build/styles/includes/_thickbox.scss */
#TB_window a:hover {
  color: #000;
}

/* line 22, ../build/styles/includes/_thickbox.scss */
#TB_window a:active {
  color: #666666;
}

/* line 23, ../build/styles/includes/_thickbox.scss */
#TB_window a:focus {
  color: #666666;
}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
/* line 28, ../build/styles/includes/_thickbox.scss */
#TB_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

/* line 37, ../build/styles/includes/_thickbox.scss */
.TB_overlayMacFFBGHack {
  background: url(macFFBgHack.png) repeat;
}

/* line 38, ../build/styles/includes/_thickbox.scss */
.TB_overlayBG {
  background-color: #000;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
}

/* line 45, ../build/styles/includes/_thickbox.scss */
* html #TB_overlay {
  /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

/* line 50, ../build/styles/includes/_thickbox.scss */
#TB_window {
  position: fixed;
  background: #ffffff;
  z-index: 102;
  color: #000000;
  display: none;
  border: 4px solid #525252;
  text-align: left;
  top: 50%;
  left: 50%;
}

/* line 62, ../build/styles/includes/_thickbox.scss */
* html #TB_window {
  /* ie6 hack */
  position: absolute;
  margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

/* line 67, ../build/styles/includes/_thickbox.scss */
#TB_window img#TB_Image {
  display: block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}

/* line 76, ../build/styles/includes/_thickbox.scss */
#TB_caption {
  height: 25px;
  padding: 7px 30px 10px 25px;
  float: left;
}

/* line 82, ../build/styles/includes/_thickbox.scss */
#TB_closeWindow {
  height: 25px;
  padding: 11px 25px 10px 0;
  float: right;
}

/* line 88, ../build/styles/includes/_thickbox.scss */
#TB_closeAjaxWindow {
  padding: 7px 10px 5px 0;
  margin-bottom: 1px;
  text-align: right;
  float: right;
}

/* line 95, ../build/styles/includes/_thickbox.scss */
#TB_ajaxWindowTitle {
  float: left;
  padding: 7px 0 5px 10px;
  margin-bottom: 1px;
}

/* line 101, ../build/styles/includes/_thickbox.scss */
#TB_title {
  background-color: #e8e8e8;
  height: 27px;
}

/* line 106, ../build/styles/includes/_thickbox.scss */
#TB_ajaxContent {
  clear: both;
  padding: 2px 15px 15px 15px;
  overflow: auto;
  text-align: left;
  line-height: 1.4em;
}

/* line 114, ../build/styles/includes/_thickbox.scss */
#TB_ajaxContent.TB_modal {
  padding: 15px;
}

/* line 118, ../build/styles/includes/_thickbox.scss */
#TB_ajaxContent p {
  padding: 5px 0px 5px 0px;
}

/* line 122, ../build/styles/includes/_thickbox.scss */
#TB_load {
  position: fixed;
  display: none;
  height: 13px;
  width: 208px;
  z-index: 103;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -104px;
  /* -height/2 0 0 -width/2 */
}

/* line 133, ../build/styles/includes/_thickbox.scss */
* html #TB_load {
  /* ie6 hack */
  position: absolute;
  margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

/* line 138, ../build/styles/includes/_thickbox.scss */
#TB_HideSelect {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border: none;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
}

/* line 152, ../build/styles/includes/_thickbox.scss */
* html #TB_HideSelect {
  /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

/* line 157, ../build/styles/includes/_thickbox.scss */
#TB_iframeContent {
  clear: both;
  border: none;
  margin-bottom: -1px;
  margin-top: 1px;
  _margin-bottom: 1px;
}

/* line 1, ../build/styles/includes/_main.scss */
*, td, th {
  font-family: Archer Book, Georgia, Times, serif;
  letter-spacing: 0.1em;
}

/* line 6, ../build/styles/includes/_main.scss */
body {
  background-color: #f0d9d1;
  margin: 0px;
  text-align: center;
}

@font-face {
  font-family: 'Archer Book';
  src: url("../fonts/Archer-Book-Pro.eot");
  src: local("☺"), url("../fonts/Archer-Book-Pro.woff") format("woff"), url("../fonts/Archer-Book-Pro.ttf") format("truetype"), url("../fonts/Archer-Book-Pro.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SnvExtCondD';
  src: url("../fonts/SnvExtCondD-Reg.eot");
  src: local("☺"), url("../fonts/SnvExtCondD-Reg.woff") format("woff"), url("../fonts/SnvExtCondD-Reg.ttf") format("truetype"), url("../fonts/SnvExtCondD-Reg.svg") format("svg");
}
/* line 28, ../build/styles/includes/_main.scss */
p, dt, dd, li {
  color: #471E25;
  font-family: Archer Book, Georgia, Times, serif;
}

/* line 33, ../build/styles/includes/_main.scss */
p {
  text-align: justify;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 1em;
  word-wrap: word-break;
}

/* line 41, ../build/styles/includes/_main.scss */
a {
  cursor: pointer;
  color: #471E25;
}
/* line 44, ../build/styles/includes/_main.scss */
a:hover, a:active {
  color: #958a7b;
}

/* line 49, ../build/styles/includes/_main.scss */
.active {
  color: #958a7b;
}
/* line 51, ../build/styles/includes/_main.scss */
.active a {
  color: #958a7b;
}

/* line 56, ../build/styles/includes/_main.scss */
.ui-tabs-selected a, .ui-state-active a {
  color: #958a7b;
}

/* line 60, ../build/styles/includes/_main.scss */
img {
  border: none;
}

/* line 64, ../build/styles/includes/_main.scss */
h1, h2, h3, h4 {
  font-family: SnvExtCondD, Georgia, Times, serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px;
  color: #471E25;
}

/* line 72, ../build/styles/includes/_main.scss */
h1 {
  font-size: 32px;
  margin-bottom: 16px;
}
/* line 73, ../build/styles/includes/_main.scss */
h1 a {
  font-family: SnvExtCondD, Georgia, Times, serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px;
  color: #471E25;
}

/* line 84, ../build/styles/includes/_main.scss */
h2 {
  font-size: 32px;
  margin-bottom: 16px;
}

/* line 89, ../build/styles/includes/_main.scss */
h1 {
  background-image: url(../images/diagonal.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

/* line 96, ../build/styles/includes/_main.scss */
div.csc-textpic div.csc-textpic-single-image img {
  margin-bottom: 0px;
}

/* line 100, ../build/styles/includes/_main.scss */
h3, h4 {
  text-align: center;
  font-family: Archer Book, Georgia, Times, serif;
  font-size: 16px;
  padding: 2px 0px;
  font-variant: small-caps;
  text-transform: none;
}

/* line 109, ../build/styles/includes/_main.scss */
h3 {
  border-top: 1px solid #6c4b51;
  border-bottom: 1px solid #6c4b51;
}

/* line 114, ../build/styles/includes/_main.scss */
h4 {
  margin-bottom: 0px;
}

/* line 120, ../build/styles/includes/_main.scss */
.align-center {
  text-align: center;
}

/* line 124, ../build/styles/includes/_main.scss */
#page {
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 980px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  /* line 124, ../build/styles/includes/_main.scss */
  #page {
    width: 100%;
  }
}

/* line 132, ../build/styles/includes/_main.scss */
#logo {
  margin-top: 3px;
}

/** NAVIGATION **/
/* line 138, ../build/styles/includes/_main.scss */
#navigation {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-family: Archer Book, Georgia, Times, serif;
  text-align: left;
  overflow: hidden;
}
@media (max-width: 1023px) {
  /* line 138, ../build/styles/includes/_main.scss */
  #navigation {
    font-size: 18px;
    max-width: 640px;
    margin: 0 auto;
  }
}
/* line 152, ../build/styles/includes/_main.scss */
#navigation .column {
  width: 28%;
  box-sizing: border-box;
  float: left;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  padding-left: 10px;
}
/* line 153, ../build/styles/includes/_main.scss */
#navigation .column:first-child {
  width: 44%;
}
@media (max-width: 1023px) {
  /* line 153, ../build/styles/includes/_main.scss */
  #navigation .column:first-child {
    width: 100% !important;
    margin-bottom: 10px;
  }
}
@media (max-width: 1023px) {
  /* line 152, ../build/styles/includes/_main.scss */
  #navigation .column {
    width: 50% !important;
  }
}
/* line 178, ../build/styles/includes/_main.scss */
#navigation .column li {
  list-style-type: none;
}
/* line 180, ../build/styles/includes/_main.scss */
#navigation .column li a {
  text-decoration: none;
  display: block;
  padding-bottom: 5px;
}
/* line 184, ../build/styles/includes/_main.scss */
#navigation .column li a:hover {
  /*text-decoration: underline;*/
}

/* line 192, ../build/styles/includes/_main.scss */
#headerLeft, #headerRight, #contentLeft, #contentRight, #footerLeft, #footerRight {
  float: left;
  width: 475px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  /* line 192, ../build/styles/includes/_main.scss */
  #headerLeft, #headerRight, #contentLeft, #contentRight, #footerLeft, #footerRight {
    width: 100%;
  }
}

/* line 197, ../build/styles/includes/_main.scss */
#contentLeft a, #contentRight a {
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 1px;
}

/* line 203, ../build/styles/includes/_main.scss */
#headerLeft, #contentLeft, #footerLeft {
  margin-left: 0px;
  margin-right: 15px;
}
@media (max-width: 1023px) {
  /* line 203, ../build/styles/includes/_main.scss */
  #headerLeft, #contentLeft, #footerLeft {
    margin-right: 0px;
  }
}

/* line 213, ../build/styles/includes/_main.scss */
#headerRight, #contentRight, #footerRight {
  margin-right: 0px;
  margin-left: 15px;
}
@media (max-width: 1023px) {
  /* line 213, ../build/styles/includes/_main.scss */
  #headerRight, #contentRight, #footerRight {
    margin-left: 0px;
  }
}

/* line 224, ../build/styles/includes/_main.scss */
#header, #content, #footer, .clear {
  clear: left;
  overflow: hidden;
}

/* line 231, ../build/styles/includes/_main.scss */
#headerLeft, #headerRight {
  background-image: url("../images/line.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 130px;
}
@media (max-width: 1023px) {
  /* line 231, ../build/styles/includes/_main.scss */
  #headerLeft, #headerRight {
    background-repeat-x: repeat;
  }
}
@media (max-width: 1023px) {
  /* line 231, ../build/styles/includes/_main.scss */
  #headerLeft, #headerRight {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* line 242, ../build/styles/includes/_main.scss */
#headerLeft {
  text-align: center;
}

/* line 247, ../build/styles/includes/_main.scss */
#contentLeft, #contentRight {
  padding: 45px;
  font-size: 16px;
}
@media (max-width: 1023px) {
  /* line 247, ../build/styles/includes/_main.scss */
  #contentLeft, #contentRight {
    padding: 25px;
  }
}

/* line 257, ../build/styles/includes/_main.scss */
#footer {
  font-family: Archer Book, Georgia, Times, serif;
}

/* line 262, ../build/styles/includes/_main.scss */
#footerLeft, #footerRight {
  background-image: url("../images/line.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-left: 45px;
  padding-right: 0px;
  padding-top: 10px;
  font-size: 12px;
  box-sizing: border-box;
  width: 475px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  /* line 262, ../build/styles/includes/_main.scss */
  #footerLeft, #footerRight {
    background-repeat-x: repeat;
  }
}
@media (max-width: 1023px) {
  /* line 262, ../build/styles/includes/_main.scss */
  #footerLeft, #footerRight {
    width: 100%;
  }
}
@media (max-width: 1023px) {
  /* line 262, ../build/styles/includes/_main.scss */
  #footerLeft, #footerRight {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
  }
}

/* line 279, ../build/styles/includes/_main.scss */
#footerLeft p {
  margin: 0px;
}
/* line 282, ../build/styles/includes/_main.scss */
#footerLeft p span {
  margin-right: 15px;
}
/* line 284, ../build/styles/includes/_main.scss */
#footerLeft p span.last {
  margin-right: 0px;
}
@media (max-width: 1023px) {
  /* line 279, ../build/styles/includes/_main.scss */
  #footerLeft p {
    text-align: center;
  }
}

/* line 295, ../build/styles/includes/_main.scss */
#footerRight {
  float: left;
}
/* line 297, ../build/styles/includes/_main.scss */
#footerRight a {
  text-decoration: none;
  margin-right: 65px;
}
/* line 301, ../build/styles/includes/_main.scss */
#footerRight img {
  margin-right: 15px;
  vertical-align: middle;
}
/* line 305, ../build/styles/includes/_main.scss */
#footerRight span {
  vertical-align: middle;
}
@media (max-width: 1023px) {
  /* line 295, ../build/styles/includes/_main.scss */
  #footerRight {
    background-image: none;
  }
  /* line 312, ../build/styles/includes/_main.scss */
  #footerRight a {
    margin-right: 0px;
    display: block;
  }
}

/* line 320, ../build/styles/includes/_main.scss */
.collectionName {
  font-variant: small-caps;
}

/* line 324, ../build/styles/includes/_main.scss */
#fancybox-outer, #fancybox-frame {
  background-color: #f0d9d1 !important;
}

/* line 328, ../build/styles/includes/_main.scss */
#fancybox-content {
  border-color: #f0d9d1 !important;
  background-color: #f0d9d1;
}
/* line 331, ../build/styles/includes/_main.scss */
#fancybox-content .closeButton {
  border-top: 1px solid #6C4B51;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6C4B51;
  padding-top: 10px;
  display: block;
  margin: 20px auto;
  margin-top: 6px;
  width: 680px;
}
/* line 341, ../build/styles/includes/_main.scss */
#fancybox-content .closeButton img {
  margin-bottom: 2px;
}

/* line 347, ../build/styles/includes/_main.scss */
#fancybox-wrap {
  position: absolute;
  top: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 100% !important;
}

/* line 355, ../build/styles/includes/_main.scss */
#fancybox-bg-w {
  left: -10px;
  width: 10px;
}

/* line 360, ../build/styles/includes/_main.scss */
#fancybox-bg-e {
  right: -10px;
}

/* line 364, ../build/styles/includes/_main.scss */
#fancybox-bg-se, #fancybox-bg-sw {
  display: none;
}

/* line 369, ../build/styles/includes/_main.scss */
.tx-ginassposagallery-pi2 table {
  width: 100%;
  border-collapse: collapse;
}
/* line 373, ../build/styles/includes/_main.scss */
.tx-ginassposagallery-pi2 th {
  color: #471E25;
  font-family: Archer Book, Georgia, Times, serif;
  font-size: 16px;
  padding: 2px 0px;
  font-variant: small-caps;
  text-transform: none;
  font-weight: normal;
  border-top: 1px solid #6c4b51;
  border-bottom: 1px solid #6c4b51;
}
/* line 384, ../build/styles/includes/_main.scss */
.tx-ginassposagallery-pi2 td {
  border-right: 1px solid #6c4b51;
  border-bottom: 1px solid #6c4b51;
}
/* line 387, ../build/styles/includes/_main.scss */
.tx-ginassposagallery-pi2 td.last {
  border-right: none;
}
/* line 391, ../build/styles/includes/_main.scss */
.tx-ginassposagallery-pi2 a {
  border-bottom: none !important;
}
/* line 394, ../build/styles/includes/_main.scss */
.tx-ginassposagallery-pi2 img {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* map */
/* line 402, ../build/styles/includes/_main.scss */
#Tx_AdGoogleMaps_Canvas_Uid_2 .bodytext {
  font-size: 12px;
  text-align: left;
}

/* Mail Formular */
/* line 409, ../build/styles/includes/_main.scss */
.csc-mailform {
  text-align: left;
  border: none;
  max-width: 480px;
  margin: 0 auto;
}
/* line 414, ../build/styles/includes/_main.scss */
.csc-mailform .csc-mailform-field {
  margin-bottom: 10px;
}
/* line 417, ../build/styles/includes/_main.scss */
.csc-mailform .csc-mailform-field label, .csc-mailform .csc-mailform-field input {
  font-size: 16px;
}
/* line 421, ../build/styles/includes/_main.scss */
.csc-mailform .csc-mailform-field label {
  color: #471E25;
  width: 110px;
  float: left;
}
/* line 426, ../build/styles/includes/_main.scss */
.csc-mailform .csc-mailform-field input {
  clear: left;
  width: 264px;
}
/* line 430, ../build/styles/includes/_main.scss */
.csc-mailform .csc-mailform-field textarea {
  max-width: 350px;
  height: 180px;
}
/* line 434, ../build/styles/includes/_main.scss */
.csc-mailform .csc-mailform-field .csc-mailform-submit {
  float: right;
}

/* line 441, ../build/styles/includes/_main.scss */
#Tx_AdGoogleMaps_Canvas_Uid_2 {
  margin: 0 auto;
}

/* line 3, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 a {
  text-decoration: none;
}

/* line 9, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .navigation {
  margin: 0 auto;
  clear: both;
  line-height: 22px;
  font-size: 12px;
}

/* line 19, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .ajaxTabs {
  width: 100%;
  clear: both;
}

/* line 27, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .ajaxTabs ul.first {
  border-top: 1px solid #6c4b51;
}

/* line 33, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .ajaxTabs ul {
  border-bottom: 1px solid #6c4b51;
  padding: 0px 40px;
  list-style-type: none;
  text-align: justify;
  height: 23px;
  vertical-align: top;
}

/* line 43, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .ajaxTabs ul li {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 51, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .breakSpan {
  padding-left: 100%;
  display: inline-block;
  /* Opera */
}

/* line 56, ../build/styles/includes/_gallery.scss */
.ui-tabs-hide {
  display: none !important;
}

/* line 61, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .logo {
  margin-top: 25px;
  margin-bottom: 20px;
}

/* line 66, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 h4 {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
}

/* line 74, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .thumbGallery {
  margin: 0px 60px;
  text-align: justify;
}

/* line 81, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .thumbGallery img {
  border: 1px solid #6c4b51;
  padding: 8px;
}

/* line 88, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .thumbGallery a {
  display: inline-block;
  vertical-align: middle;
}

/* line 94, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .modelView img {
  max-width: 600px;
}

/* line 100, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .teaser a {
  display: inline-block;
}

/* line 107, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .teaser img {
  border: 1px solid #6c4b51;
  padding: 8px;
}

/* line 113, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .teaser p {
  text-align: center;
  margin-top: 2px;
  width: 120px;
}

/* line 122, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .modelView {
  margin-left: 40px;
  margin-right: 40px;
}

/* line 128, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .modelView .image {
  height: 600px;
  margin-top: 20px;
  position: relative;
  width: 100%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

/* line 144, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .modelView .modelName {
  text-align: center;
}

/* line 151, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .modelNavigation {
  width: 680px;
  margin: auto;
  text-align: left;
}

/* line 158, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .modelNavigation table {
  border-collapse: collapse;
  border-bottom: none;
  vertical-align: center;
  width: 100%;
}

/* line 166, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .modelNavigation td {
  padding: 2px;
  color: #6c4b51;
}

/* line 172, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .modelNavigation .first {
  border-top: 1px solid #6c4b51;
}

/* line 178, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .modelNavigation .options {
  width: 300px;
  text-align: right;
}

/* line 185, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .arrows {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

/* line 196, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .arrows .previous {
  float: left;
  padding: 300px;
  padding-right: 100px;
  padding-left: 0px;
  background-image: url(../images/arrow_left.png);
  background-repeat: no-repeat;
  background-position: left center;
  width: 36px;
  height: 7px;
}

/* line 209, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .arrows .next {
  float: right;
  padding: 300px;
  padding-left: 100px;
  padding-right: 0px;
  background-image: url(../images/arrow_right.png);
  background-repeat: no-repeat;
  background-position: right center;
  width: 36px;
  height: 7px;
}

/* line 224, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .arrows .previous:hover, .tx-ginassposagallery-pi1 .arrows .previous:active {
  background-image: url(../images/arrow_left_active.png);
  background-repeat: no-repeat;
}

/* line 231, ../build/styles/includes/_gallery.scss */
.tx-ginassposagallery-pi1 .arrows .next:hover, .tx-ginassposagallery-pi1 .arrows .next:active {
  background-image: url(../images/arrow_right_active.png);
  background-repeat: no-repeat;
}

/* line 238, ../build/styles/includes/_gallery.scss */
#fancybox-close {
  top: 25px;
  right: 30px;
  background: transparent url("../images/x.png") 0px 0px;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

/* line 7, ../build/styles/includes/_teaser.scss */
.teaserContainer .news-item-box, .teaserContainer .news-item-box p {
  text-align: center;
}

/* line 13, ../build/styles/includes/_teaser.scss */
.teaserContainer .news-item-box .image {
  height: 435px;
  display: table-cell;
  vertical-align: middle;
  width: 385px;
}

/* line 21, ../build/styles/includes/_teaser.scss */
.csc-textpic-imagewrap dl {
  width: 100% !important;
}

/* line 26, ../build/styles/includes/_teaser.scss */
.teaserContainer .image a, .teaserContainer .navigation a, .csc-textpic-imagewrap .navigation a {
  padding-bottom: 0px !important;
  border-bottom: none !important;
}

/* line 35, ../build/styles/includes/_teaser.scss */
.teaserContainer .news-item-box .image img, .csc-textpic-imagewrap dl dt img {
  text-align: center;
  height: inherit;
  width: inherit;
  max-height: 430px;
  max-width: 385px;
}

/* line 45, ../build/styles/includes/_teaser.scss */
.csc-textpic-imagewrap dl dt a {
  text-align: center;
  display: block;
  border-bottom: none !important;
}

/* line 51, ../build/styles/includes/_teaser.scss */
.csc-textpic-imagewrap {
  text-align: center;
  width: 100% !important;
}

/* line 56, ../build/styles/includes/_teaser.scss */
.csc-textpic-imagewrap dl {
  text-align: center !important;
}

/* line 61, ../build/styles/includes/_teaser.scss */
.csc-textpic-imagewrap dl dd {
  padding-top: 10px;
}

/* line 65, ../build/styles/includes/_teaser.scss */
.csc-textpic-imagewrap dl dt .navigation a {
  display: inline;
}

/* line 69, ../build/styles/includes/_teaser.scss */
.teaserContainer .navigation, .csc-textpic-imagewrap .navigation {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  display: none;
}

/* line 77, ../build/styles/includes/_teaser.scss */
.csc-textpic-imagewrap .navigation {
  display: block;
}

/* line 82, ../build/styles/includes/_teaser.scss */
.csc-textpic-imagewrap .navigation img {
  vertical-align: middle !important;
}

/* line 87, ../build/styles/includes/_teaser.scss */
.teaserContainer .pageIndicators, .csc-textpic-imagewrap .pageIndicators {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 94, ../build/styles/includes/_teaser.scss */
.teaserContainer h3, .teaserContainer h4 {
  font-family: Archer Book, Georgia, Times, serif;
  text-transform: none;
  font-size: 14px;
}

/* line 101, ../build/styles/includes/_teaser.scss */
.newsDetailView {
  position: relative;
}

/* line 108, ../build/styles/includes/_teaser.scss */
.teaserContainer .subheader p, .newsDetailView .subheader p {
  text-align: center;
}

/* line 114, ../build/styles/includes/_teaser.scss */
.teaser .pageIndicators a, .csc-textpic-imagewrap .pageIndicators a {
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: top;
}

@media (max-width: 1023px) {
  /* line 3, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap {
    width: 100% !important;
    left: 0px !important;
    padding-left: 0px !important;
  }
  /* line 7, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap .tx-ginassposagallery-pi1 .navigation {
    font-size: 16px;
  }
  /* line 15, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap #fancybox-content {
    width: 100% !important;
    box-sizing: border-box;
  }
  /* line 19, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap #fancybox-content > div {
    width: 100% !important;
  }
  /* line 25, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap .tx-ginassposagallery-pi1 .ajaxTabs ul {
    padding: 6px 10px;
    height: auto;
  }
  /* line 30, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap .tx-ginassposagallery-pi1 .ajaxTabs ul .breakSpan {
    display: none;
  }
  /* line 38, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap .tx-ginassposagallery-pi1 .thumbGallery {
    margin: 0px 10px;
  }
  /* line 44, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap .tx-ginassposagallery-pi1 .modelView {
    margin-left: 0px;
    margin-right: 0px;
  }
  /* line 48, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap .tx-ginassposagallery-pi1 .modelView .image {
    height: auto;
    width: 100%;
  }
  /* line 52, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap .tx-ginassposagallery-pi1 .modelView .image .arrows {
    height: 200px;
  }
  /* line 55, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap .tx-ginassposagallery-pi1 .modelView .image .arrows .previous, #fancybox-wrap .tx-ginassposagallery-pi1 .modelView .image .arrows .next {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /* line 60, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap .tx-ginassposagallery-pi1 .modelView .image .arrows .previous {
    padding-right: 50%;
  }
  /* line 65, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap .tx-ginassposagallery-pi1 .modelView .image .arrows .next {
    padding-left: 50%;
  }
  /* line 72, ../build/styles/includes/fancyboxfix.scss */
  #fancybox-wrap .tx-ginassposagallery-pi1 .modelView .image .imageLink img {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
