*{
	
	
	font-family: Archer Book, Georgia, Times, serif;	
	letter-spacing: 0.1em;
}

td, th
{
	font-family: Archer Book, Georgia, Times, serif;	
	letter-spacing: 0.1em;	
}
body
{
	background-color: #f0d9d1;	
	margin: 0px;
	text-align: center;
}



@font-face {
	font-family: 'Archer Book';
	src: url('../fonts/Archer-Book-Pro.eot');
	src: local('☺'), url('../fonts/Archer-Book-Pro.woff') format('woff'), 
	url('../fonts/Archer-Book-Pro.ttf') format('truetype'), 
	url('../fonts/Archer-Book-Pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SnvExtCondD';
	src: url('../fonts/SnvExtCondD-Reg.eot');
	src: local('☺'), url('../fonts/SnvExtCondD-Reg.woff') format('woff'), 
	url('../fonts/SnvExtCondD-Reg.ttf') format('truetype'), 
	url('../fonts/SnvExtCondD-Reg.svg') format('svg');
	
}




p,dt,dd,li
{
	color: #471E25;	
	font-family: Archer Book, Georgia, Times, serif;	
}

p
{
	text-align: justify;
	
	
	line-height: 1.5em;
	margin-top: 0px;
	margin-bottom: 1em;
	
	word-wrap: word-break;
	
}
a{
	cursor: pointer;
	color: #471E25;		
}

a:hover, a:active, .active, .active a, .ui-tabs-selected a, .ui-state-active a
{
	color: #958a7b;	
	
}

img
{
	border: none;	
}
h1,h2,h3,h4,
h1 a
{
	font-family: SnvExtCondD, Georgia, Times, serif;	
	font-weight: normal;
	text-transform: uppercase;
	margin: 0px;
	color: #471E25;
}

h1, h2
{
	font-size: 32px;
	margin-bottom:16px;	
	
}

h1
{
	background-image: url(../images/diagonal.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-bottom: 40px;
}



div.csc-textpic div.csc-textpic-single-image img
{
	margin-bottom: 0px;		
}

h3, h4
{
	
	
	text-align: center;
	
	font-family: Archer Book, Georgia, Times, serif;
	font-size: 16px;
	padding: 2px 0px;	
	font-variant:small-caps;
	text-transform: none;
}

h3
{
	border-top: 1px solid hsl(350, 18%, 36%);
	border-bottom: 1px solid hsl(350, 18%, 36%);
}

h4
{
	margin-bottom: 0px;	
}


.titleWithBorders
{
	
}



.align-center
{
	text-align: center;	
}

#page
{
	
	margin: 0px auto;
	width: 980px;
	padding: 25px 10px;
	padding-bottom: 40px;
	
	
}

#logo
{
	margin-top: 3px;	
}

/** NAVIGATION **/

#navigation 
{
	margin-left:12px;
	font-size: 12px;
	font-family: Archer Book, Georgia, Times, serif;	
	text-align: left;
}	

#navigation .column
{
  max-width:140px;
	float: left;
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}

#navigation .column li
{
	list-style-type:none;	
	
}

#navigation .column li a
{
	text-decoration: none;	
	display: block;
	padding-bottom: 3px;
}
#navigation .column li a:hover
{
	/*text-decoration: underline;*/	
}
#headerLeft, #headerRight, #contentLeft, #contentRight, #footerLeft, #footerRight
{
	float: left;
	width: 475px;
	
	
}
#contentLeft a, #contentRight a
{
	text-decoration: none;
	border-bottom: 1px solid;
	padding-bottom: 1px;
}

#headerLeft, #contentLeft, #footerLeft
{
	margin-left: 0px;
	margin-right: 15px;
}

#headerRight, #contentRight, #footerRight
{
	margin-right: 0px;
	margin-left: 15px;	
}	


#header, #content, #footer, .clear
{
	clear: left;	
}

#headerLeft, #headerRight
{
	background-image: url('../images/line.png');
	background-position: bottom center;
	background-repeat: no-repeat;	
	height: 105px;	
	
}

#headerLeft
{
	text-align: center;
	
}

#contentLeft, #contentRight
{
	padding: 45px;
	width: 385px;
	font-size: 16px;
}



#footer
{
	font-size: 12px;
	font-family: Archer Book, Georgia, Times, serif;	
}

#footerLeft, #footerRight
{
	background-image: url('../images/line.png');
	background-position: top center;
	background-repeat: no-repeat;	
	padding-left: 45px;
	padding-right: 0px;
	width: 430px;
	padding-top: 10px;
	font-size: 12px;
	
}

#footerLeft p
{
	margin: 0px;	
}
#footerLeft p span
{
	margin-right: 15px;
}

#footerLeft p span.last
{
	margin-right: 0px;	
}


#footerRight
{
	float: left;
	
	
}

#footerRight a
{
	text-decoration: none;
	margin-right: 65px;
	
	
}

#footerRight img
{
	margin-right: 15px;
	vertical-align: middle;
}


#footerRight span
{
	vertical-align: middle;	
}




.collectionName
{
	font-variant:small-caps;	
}



#fancybox-outer, #fancybox-frame
{
	background-color: #f0d9d1 !important;
}

#fancybox-content
{
	border-color: 	 #f0d9d1 !important;
	background-color: #f0d9d1;
}

#fancybox-content .closeButton
{
	border-top: 1px solid #6C4B51;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #6C4B51;
	padding-top: 10px;
	
	display: block;
	margin: 20px auto;
	margin-top: 6px;
	width: 680px;
}

#fancybox-content .closeButton img
{
	
	margin-bottom: 2px;
}

#fancybox-wrap {
	position: absolute;
	top: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	height: 100% !important;
}

#fancybox-bg-w
{
	left: -10px;	
	width: 10px;
}

#fancybox-bg-e
{
	right: -10px;
	
}

#fancybox-bg-se, #fancybox-bg-sw
{
	display: none;	
}

.tx-ginassposagallery-pi2 table
{
	width: 100%;
	border-collapse: collapse;	
	
}
.tx-ginassposagallery-pi2 th
{
	color: #471E25;
	font-family: Archer Book, Georgia, Times, serif;
	font-size: 16px;
	padding: 2px 0px;	
	font-variant:small-caps;
	text-transform: none;
	font-weight: normal;
	border-top: 1px solid hsl(350, 18%, 36%);
	
	border-bottom: 1px solid hsl(350, 18%, 36%);
}
.tx-ginassposagallery-pi2 td
{	
	border-right: 1px solid hsl(350, 18%, 36%);
	
	border-bottom: 1px solid hsl(350, 18%, 36%);
}


.tx-ginassposagallery-pi2 td.last
{
	border-right: none;
}

.tx-ginassposagallery-pi2 a
{	
	border-bottom: none !important;
}

.tx-ginassposagallery-pi2 img
{	
	margin-top:4px;
	margin-bottom: 4px;
}


/* map */

#Tx_AdGoogleMaps_Canvas_Uid_2 .bodytext
{
	font-size: 12px;
	text-align: left;
}


/* Mail Formular */
.csc-mailform
{
	
	text-align: left;
	border: none;	
}


.csc-mailform  label
{
	color: #471E25;
	width: 110px;	
	float: left;
}
.csc-mailform  input
{
	clear: left;
	width: 240px;
}

.csc-mailform textarea
{
	width: 350px;	
}

